@import "variables";

body {
  overflow-x: hidden;
}

.nonHeaderContentContainer {
  padding: 10vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: $color-1;
  z-index: 9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  & .header-logo {
    max-width: 25vw;
  }
}

.headerRightSection {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  right: 3vw;
}

.profileMenu {
  display: flex;
  align-items: center;
  border-radius: 0.3vw;
  z-index: 99;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.dropdownMenuContainer {
  position: relative;
}

.dropdownMenu {
  border-radius: 8px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  max-width: 280px;
}

.dropdownMenuItem {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.2s;
  font-size: 14px;
  color: #4b4f56;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.fullScreenMenu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 8;
  transform: translateX(-100%);

  &.open {
    animation: slideIn 0.1s forwards;
  }
  & li {
    width: 30vw;
  }
}

.vasForm {
  width: 70vw;
  margin: 0 auto;
}

.signupOrLoginMenu {
  top: 4.5vw;
  background-color: rgba(0, 0, 0, 0);
}

.hDYFRNTitle {
  padding: 14vw 0;
  color: $color-1;
}

.vasForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formItem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
}
