$color-1: #001219;
$color-2: #26ace2;
$color-3: #7acde9;

@function hex-to-rgba($color, $opacity) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  @return rgba($r, $g, $b, $opacity);
}
